<section>

    <div class="box">
        <div class="content">
      <h2>
        Tutor Profile
      </h2>
      
    </div>
    <div class="form">
      <h2>
          Schedule a Class
        </h2>
     <form action="">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon2">
        </div>
      <div class="input-group mb-3">

        <input type="time" class="form-control" placeholder="time" aria-label="time" aria-describedby="basic-addon2">
      </div>
       
      <input type="text" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="basic-addon2">
      
<button type="button" class="btn btn-success" routerLink="/dashboard/classes">Shedule</button>
        
     </form>
    </div>
    </div>
    
</section>