<section>

    <div class="box">
        <div class="content">
      <h2>
        Tutor Profile
      </h2>
      
    </div>
    <div class="form">
      <h2>
          Schedule a Class
        </h2>
      <form action="backend.php">
          <div>
              <label for="Subject"></label>
          <select name="mysub" id="Subject">
            <option value="">Enter Topic</option>
            <option value="eng">English</option>
            <option value="hin">Hindi</option>
            <option value="math">Mathematics</option>
            <option value="sci">Science</option>
            <option value="comp">Computer</option>
        </select>
    </div>
        <div class="timebox">
            <h4>Enter Time</h4>
          <input type="time" name="Time" placeholder="Enter Time" id="seltime">
        </div>
        <button class="btn">Schedule</button>  
      </form>
    </div>
    </div>
    
</section>