   
<div class="box">
    <h3 class="heading">
        Get verified answers to Your queries of any kind
    </h3>
        <p class="para">
            Create an accout now to get verified answers from our community of teachers and students
        </p>
    
        <div class="form">
        <button type="button" class="btn btn-outline-dark" (click)="authService.GoogleAuth()"><i class="fa fa-google"></i> GOOGLE</button>
        <button type="button" class="btn btn-primary" (click)="authService.FacebookAuth()" ><i class="fa fa-facebook-f"></i> FACEBOOK</button>
       </div>
       <p class="info">
           We never share anything on your behalf
       </p>
    
       <h5>
           Already have an account ? 
           <a href="">Log In</a>
       </h5>
    
    <div class="footer">
         By signing up,you accept the <a href=""> Shiksha Arpan's </a>Terms of Services & Privacy Policy.
       </div>
    </div>
    
    