
    <div class="div2">

        <div class="weekDays-selector , subbox">
            <input type="checkbox" id="weekday-mon" class="weekday , subbutton" />
            <label for="weekday-mon">Physics</label>
            <input type="checkbox" id="weekday-thu" class="weekday , subbutton" />
            <label for="weekday-thu">music</label>
            <input type="checkbox" id="weekday-fri" class="weekday , subbutton"/>
            <label for="weekday-fri">chemisty</label>
           
        </div>

        <div class="sub-button">
            <button class="submit" routerLink="/tutor/congo">let's start the quiz</button>
        </div>