<section class="hero">
    <div class="container-lg">
        <div class="row my-row">
            <div class="col-md-8 col-sm-12 left">
                <h1>Sharing knowledge Increases</h1>
                <p>शिक्षा अर्पण is the knowledge-sharing community where students and volunteer experts share their knowledge .</p> 
                <div class="form">
                    <button type="button" class="btn btn-success btn-lg me-2" routerLink="/"><i class="fa fa-google"></i>  Join Classes</button>
                    <button type="button" class="btn btn-warning btn-lg" routerLink="/" ><i class="fa fa-facebook-f"></i> Ask Doubts</button>
                   </div>
            </div>
            <div class="col-md-4 col-sm-12 right">
                <img src="https://freesvg.org/img/bible-study.png" class="hero-animation">
            </div>
        </div>
    </div>
</section>
<app-login></app-login>