<section class="hero">
    <div class="container-lg">
        <div class="row my-row">
            <div class="col-md-8 col-sm-12 left">
                <h1>Sharing knowledge Increases</h1>
                <p>शिक्षा अर्पण is the knowledge-sharing community where students and volunteer experts share their knowledge .</p> 
                <div class="my-search-group">
                    <input type="text" class="my-search-input" placeholder="What You Wanna Learn?"/>
                    <button class="btn"><img src="../../assets/images/search.svg" class="my-search-btn"/></button>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 right">
                <img src="https://freesvg.org/img/bible-study.png" class="hero-animation">
            </div>
        </div>
    </div>
</section>
<app-login></app-login>