<div class="bodybox">
    

<div class="questionbox">
    <h3>QUESTION</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo omnis incidunt fugiat officia amet ratione laborum dolorum. Fuga quaerat dicta quisquam quod delectus fugiat corporis, veniam magni cum excepturi distinctio!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia in culpa omnis nihil officiis exercitationem.
</p>
</div>
<div class="answerbox">
    <h3>Answer</h3>
<textarea name="txt" id="ans-txt" cols="30" rows="10" placeholder="Explaination"></textarea>
<div class="options">
    
 <button class="button-opt"><i class="bi bi-type-underline"></i></button>
    <button class="button-opt"><i class="bi bi-type-bold"></i></button>
    <button class="button-opt"><i class="bi bi-link-45deg"></i></button>

<button class="button-opt"><i class="bi bi-type-italic"></i></button>
<button class="button-opt"><i class="bi bi-arrow-repeat"></i></button>

<button class="button-opt"><i class="bi bi-fonts"></i></button>
<button class="button-opt"><i class="bi bi-list"></i></button>

<button  id="btn-submit">submit</button>

</div>

</div>
</div>
    