body{
    margin: 0%;
    background-color: #f5f8fa;
}
*{
    font-family: 'Roboto', sans-serif;
}
.bodybox{
    margin: 5%;
    display: flex;
    height: 100%;
    width: 92%;

}
.questionbox{
    display: inline-block;
    width: 40%;
    margin: 00.5%;
    height: 80vh;
}
.answerbox{
    width: 53%;
    height: 100%;
    background-color: #ebf2f7;
    border-radius:0.8em;
    padding: 0.5%;
}
 #ans-txt{
    margin: 1% 1% 0% 1%;
    padding:6%;
    height:70%;
    border-radius:0.8em;
    border: none;
    width: 98%;
    font-size:large;

}
.options{
    height:9%;
    margin: 1.5% 1% 0% 1%;
    display: flex;
    background-color: #ebf2f7;
   align-items: center;
    border-radius:3em;  


}
.button-opt{
   
    margin: 1.2%;
    width:8%;
    height:72%;
    border: 1px black solid;
    background-color: white;

    border-radius:0.5em;
    border:none;
}
.bi{
    font-size: x-large;
    font-size: 1.8rem;
}





#btn-submit{
    background-color: #58c0da;
    color: white;
    border-radius: 2em;
    border: none;
    margin-left: 5%;
    font-weight: 600;
    padding:12px 20px;
    transition: 0.4s;
    width: 18%;
}

#btn-submit:hover{
    background-color: #30b16f;
}

@media screen and (max-width: 900px) {
    .questionbox{
        display:block;
            width: 98%;
            margin: 1%;
            height: auto;
            font-size: small;
        }
        .bodybox{
            width: 90%;
            margin:0%;
            display:inherit;}
.answerbox{
    display: block;
    width: 98%;
    margin: 1%;
    height: 52vh;
}
#ans-txt{
    font-size: small;
}
.bi{
    font-size: 0.8rem;

}
#btn-submit{
    background-color: #58c0da;
    color: white;
    border-radius: 1.2em;
    border: none;
    margin-left: 4%;
    font-weight: 300;
    padding:2px 6px;
    transition: 0.4s;
    width: 18%;
}
}