<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <li class="nav-item rounded">
                    <a class="nav-link active" aria-current="page" routerLink=""><i
                            class="bi bi-house-fill me-2"></i>Home</a>
                </li>
                <li class="nav-item rounded"  routerLink="dashboard/classes">
                    <a class="nav-link" ><i class="bi bi-people-fill me-2"></i>classes</a>
                </li>
                <li class="nav-item rounded" routerLink="dashboard/doubt">
                    <a class="nav-link" ><i class="bi bi-telephone-fill me-2"></i>Doubt</a>
                </li>
                <li class="nav-item rounded" routerLink="tutor/apply">
                    <a class="nav-link" ><i class="bi bi-telephone-fill me-2"></i>Teacher</a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link" href="#"><i class="bi bi-pc-display-horizontal me-2"></i>Resources</a>
                </li>
                <li class="nav-item dropdown rounded">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i
                            class="bi bi-person-fill me-2"></i>Profile</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/student">Account</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>