   
    <div class="div2">
<h1 >Select the subject you want to teach</h1>
        <div class="weekDays-selector , subbox">
            <input type="checkbox" id="weekday-mon" class="weekday , subbutton" />
            <label for="weekday-mon"> Physics</label>
            <input type="checkbox" id="weekday-tue" class="weekday , subbutton"/>
            <label for="weekday-tue">science</label>
            <input type="checkbox" id="weekday-wed" class="weekday , subbutton"/>
            <label for="weekday-wed">maths</label>
            <input type="checkbox" id="weekday-thu" class="weekday , subbutton" />
            <label for="weekday-thu">music</label>
            <input type="checkbox" id="weekday-fri" class="weekday , subbutton"/>
            <label for="weekday-fri">chemisty</label>
            <input type="checkbox" id="weekday-sat" class="weekday , subbutton" />
            <label for="weekday-sat">hindi</label>
        </div>

        <div class="sub-button">
          <button class="submit" routerLink="/tutor/apply/selected">submit</button>
        </div>