<main>
        <div class="bodybox">
            <div class="subject">

                <ul>
                    <li class="li-sub-img"><img src="https://img.icons8.com/material/344/squared-menu--v1.png"
                            class="sub-img-size" alt=""> all subjects</li>
                    <hr>
                    <li class="li-sub-img"><img src="https://img.icons8.com/material/344/read--v2.png"
                            class="sub-img-size">hindi</li>
                    <li class="li-sub-img"><img src="https://img.icons8.com/ios-glyphs/344/calculator.png" alt=""
                            class="sub-img-size">maths</li>
                    <li class="li-sub-img"><img src="https://img.icons8.com/ios-glyphs/344/archeology.png" alt=""
                            class="sub-img-size">history</li>
                    <li class="li-sub-img"><img src="https://img.icons8.com/ios-glyphs/344/nook.png" alt=""
                            class="sub-img-size">english</li>
                    <li class="li-sub-img"><img src="https://img.icons8.com/ios-glyphs/344/biotech.png" alt=""
                            class="sub-img-size">biology</li>
                    <li class="li-sub-img"><img src="https://img.icons8.com/ios-glyphs/344/physics.png" alt=""
                            class="sub-img-size">physics</li>
                    <li class="li-sub-img"><img src="https://img.icons8.com/ios-glyphs/344/test-tube.png" alt=""
                            class="sub-img-size">chemistry</li>
                    <li class="li-sub-img"><img src="https://img.icons8.com/ios-filled/344/statue-of-liberty.png    "
                            alt="" class="sub-img-size">social science</li>

                </ul>

            </div>
            <div class="centerbox">
                <div class="questionbox">
                    <div class="commentbox">
                        <div class="usr">
                            <div class="dp"> <img src="https://cdn-icons-png.flaticon.com/512/201/201818.png" alt="...">
                            </div>
                            <span class="username">Rahul Saini</span>
                        </div>
                        <h1 class="bigfont"> hello!! ask your questions here</h1>
                        <div class="commentbox">
                            <div class="dropdown">
                                <button class="dropbtn">Select level <i class="bi bi-caret-down-fill"></i></button>
                                <div class="dropdown-content">
                                    <a >Bigneer</a>
                                    <a >Intermediate</a>
                                    <a >Advanced</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">Choose Topic <i class="bi bi-caret-down-fill"></i></button>
                                <div class="dropdown-content">
                                    <a >study</a>
                                    <a >Art</a>
                                    <a>others</a>
                                </div>
                            </div>
                        </div>         
                    <!-- //searchbar added -->
                    <div class="my-search-group">
                        <input type="text" class="my-search-input" placeholder="What You Wanna Learn?"/>
                        <button class="btn"><img src="../../assets/images/search.svg" class="my-search-btn"/></button>
                    </div>
    <!-- ........... -->
                    </div>
                    

                    <div class="commentbox">
                        <div class="usr">
                            <div class="dp"> <img
                                    src="https://thesavvyimg.co.uk/wp-content/uploads/2019/03/Main-Pathway-pic-ThesavvyIMG.jpg"
                                    alt="..."></div>
                            <span class=" username">xyz gupta</span>
                            </div>
                            <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente optio ducimus dolorum
                                quos. Quo nam ab
                                exercitationem deleniti corporis qui, laboriosam commodi accusamus.
                            </h4>
                            <button  class="answerbutton" routerLink="dashboard/doubt/answer" routerLink="dashboard/doubt/answer">Answer</button>
                        </div>

                        <div class="commentbox">
                            <div class="usr">
                                <div class="dp"> <img src="https://i.stack.imgur.com/umxsU.png" alt="..."></div>
                                <span class="username">kamlesh gupta</span>
                            </div>
                            <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente optio ducimus dolorum
                                quos. Quo nam ab
                                exercitationem deleniti corporis qui, laboriosam commodi accusamus.
                            </h4>
                            <button  class="answerbutton" routerLink="dashboard/doubt/answer">Answer</button>

                        </div>
                        <div class="commentbox">
                            <div class="usr">
                                <div class="dp"> <img src="https://i.stack.imgur.com/umxsU.png" alt="..." class="dp">
                                </div>
                                <span class="username">Rahul Saini</span>
                            </div>
                            <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente optio ducimus dolorum
                                quos. Quo nam ab
                                exercitationem deleniti corporis qui, laboriosam commodi accusamus.
                            </h4>
                            <button  class="answerbutton" routerLink="dashboard/doubt/answer">Answer</button>

                        </div>

                        <div class="commentbox">
                            <div class="usr">
                                <div class="dp"> <img src="https://i.stack.imgur.com/umxsU.png" alt="..."></div>
                                <span class="username">kamlesh gupta</span>
                            </div>
                            <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente optio ducimus dolorum
                                quos. Quo nam ab
                                exercitationem deleniti corporis qui, laboriosam commodi accusamus.
                            </h4>
                            <button  class="answerbutton" routerLink="dashboard/doubt/answer">Answer</button>

                        </div>

                        <div class="commentbox">
                            <div class="usr">
                                <div class="dp"> <img src="https://i.stack.imgur.com/umxsU.png" alt="..."></div>
                                <span class="username">kamlesh gupta</span>
                            </div>
                            <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente optio ducimus dolorum
                                quos. Quo nam ab
                                exercitationem deleniti corporis qui, laboriosam commodi accusamus.
                            </h4>
                            <button  class="answerbutton" routerLink="dashboard/doubt/answer">Answer</button>

                        </div>
                        <!-- question boxes///////////////////// -->
                    </div>


                </div>
                <div class="userpanel">
                 
                        <div class="userpanel-grid">
                            <div class="usr">
                                <img src="https://cdn-icons-png.flaticon.com/512/201/201818.png" alt="..." class="dp">
                                <span class="username">Student</span>
                            </div>
                           
                             <div class="profile">
                            <img src="https://img.icons8.com/ios-glyphs/344/user--v1.png" alt="..." class="dp">
                            <p class="namep">Rahul Saini</p>
                        
                         <button id="btn">EDIT PROFILE</button>
                             
        </div>
                    </div>
                    <div class="userpanel-grid">
                        
                        <ul>
                            <li>
                                <div class="usr">
                                    <img src="https://img.icons8.com/color/344/crown.png" alt="..." class="dp">
                                    <span class="username">Experts</span>
                                </div>
                        
                        </li>
                        <br>
                           <li class="li-sub-img">
                                <button class="dropbtn">Best Experts</button>
                        </li>
                         <br>
                         <li>
                            <div class="usr">
                                <img src="https://img.icons8.com/ios-glyphs/344/user--v1.png" alt="..." class="dp">
                                <span class="username">Dr. Mohammed Ahmed </span>
                            </div>
                            <br>
                    
                    </li>
                    <li>
                        <div class="usr">
                            <img src="https://img.icons8.com/ios-glyphs/344/user--v1.png" alt="..." class="dp">
                            <span class="username">Prof Pratik Buchke</span>
                        </div>
                        <br>
                
                </li>
                <li>
                    <div class="usr">
                        <img src="https://img.icons8.com/ios-glyphs/344/user--v1.png" alt="..." class="dp">
                        <span class="username">Anamika Jain </span>
                    </div>
                    <br>
            
            </li>
                         </ul>
                               
                               
                        </div>

                    </div>

                </div>
                <div class="chat">
                    <img src="https://cdn.pathologypixels.com/v1/img/plus.png" alt="">
                </div>

    </main>