<div class="cont">
    <div class="info">
        <h3>Ask a question about your assignment</h3>
        <form action="backend.php">
            <div>
                <textarea name="mytext" id="txtar" cols="90"
                    rows="10">write your question here(keep it clear and simple to get the best answer</textarea>
            </div>
            <br>
            <div>
                <label for="Subject"></label>
                <select name="mysub" id="Subject">
                    <option value="">Pick a Subject</option>
                    <option value="eng">English</option>
                    <option value="hin">Hindi</option>
                    <option value="math">Mathematics</option>
                    <option value="sci">Science</option>
                    <option value="comp">Computer</option>
                </select>
            </div>
        </form>
        <div>
            <button id="btn">ASK YOUR QUESTION</button>
        </div>

    </div>
    <div class="right">
        <h1 id="txt">MILLIONS OF <br> QUESTION <br> ALREADY <br> ANSWERED.</h1>
    </div>
</div>